@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 87.5%;
}

body {
  font-family: "Raleway", sans-serif;
  position: relative;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  background-image: url(./images/bg-mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.access-tools {
  background-color: #1d2c67;
  width: 90%;
  height: 200px;
  border-radius: 15px 100px 15px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
  padding: 50px;
  -webkit-animation-name: left-to-right;
          animation-name: left-to-right;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.access-tools .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.access-tools .info .box {
  background-color: #0c122c;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.access-tools .info .box:hover {
  background-color: whitesmoke;
  cursor: pointer;
}
.access-tools .info .box img {
  height: 20px;
}

.limition {
  width: 90%;
  height: 200px;
  background-color: #1d2c67;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 40px 30px 0px;
  position: relative;
  -webkit-animation-name: right-to-left;
          animation-name: right-to-left;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
.limition h4 {
  color: #dddbff;
  font-weight: 400;
}
.limition h4 span {
  font-weight: 700;
}
.limition .percentage {
  background-color: #151e49;
  width: 100%;
  height: 20px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.limition .percentage .percentage-back {
  width: 75%;
  height: 14px;
  border-radius: inherit;
  background-image: -webkit-gradient(linear, left top, right top, from(#ffa399), to(#ff4d97));
  background-image: linear-gradient(to right, #ffa399, #ff4d97);
  margin-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation-name: scroll;
          animation-name: scroll;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-transition: 500ms;
  transition: 500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.limition .percentage .percentage-back .percentage-back-scroll {
  width: 10px;
  height: 10px;
  background-color: whitesmoke;
  border-radius: 50%;
  margin-right: 3px;
}
.limition .gigs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #dddbff;
  font-weight: 700;
}
.limition .quota {
  background-color: whitesmoke;
  height: 80px;
  width: 190px;
  position: absolute;
  border-radius: 15px;
  bottom: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.limition .quota h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
.limition .quota h1 span {
  font-size: 1rem;
  vertical-align: middle;
  color: #848794;
}

@media (min-width: 1280px) {
  main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background-image: url(./images/bg-desktop.png);
    background-color: #0c122c;
    background-position: right bottom;
    background-size: 100% 500px;
  }

  .access-tools {
    width: 350px;
  }

  .limition {
    width: 700px;
    height: 170px;
    margin-top: 30px;
  }
  .limition h4 {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .limition .quota {
    top: -50px;
    right: 40px;
    border-bottom-right-radius: 0;
  }
  .limition .quota::before {
    content: "";
    position: absolute;
    -webkit-clip-path: polygon(100% 0, 0 0, 100% 100%);
            clip-path: polygon(100% 0, 0 0, 100% 100%);
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    bottom: -20px;
    right: 0;
  }
}
@-webkit-keyframes left-to-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes left-to-right {
  from {
    opacity: 0;
    -webkit-transform: translateX(-500px);
            transform: translateX(-500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes right-to-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes right-to-left {
  from {
    opacity: 0;
    -webkit-transform: translateX(500px);
            transform: translateX(500px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes scroll {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}
@keyframes scroll {
  from {
    width: 0%;
  }
  to {
    width: 75%;
  }
}